<%- include('../include/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
    </head>

    <body>
        <header class="main-header">
            <%- include('../include/navigation.ejs') %>
        </header>
        <main class="centered">
            <h1><%- product.title %></h1>
            <hr>
            <div><img src="<%= product.imageUrl %>" alt="<%= product.imageUrl %>">
            </div>
            <h2>
                <%= product.price %>
            </h2>
            <p>
                <%= product.description %>
            </p>
            <%- include('../include/add-to-cart.ejs',{prod:product}) %>
        </main>
        <%- include('../include/end.ejs') %>